<h1><%= @incident.trigger_summary_data.subject %></h1>
<i><%= link_to "Back to incidents", organization_incidents_path %></i>

<h2>Meta</h2>
<ul>
  <li>Urgency: <%= @incident.urgency %></li>
  <li><%= @incident.incident_number %> | <a href="<%= @incident.html_url%>"><%= @incident.html_url%></a></li>
  <li><%= @incident.status%> at <%= @incident.last_status_change_on %></li>
</ul>

<h2>Logs</h2>
<table>
  <thead>
    <tr>
      <td>Date/time</td>
      <td>Type</td>
      <td>Person</td>
      <td>Note</td>
    </tr>
  </thead>
  <tbody>
    <% @logs_notes.reverse_each do |log_entry| %>
      <tr>
        <td><%= log_entry.created_at %></td>
        <td><%= log_entry.type %></td>
        <td>
          <img width=40 src="<%= log_entry.user.avatar_url%>"/> <br>
          <span><%= log_entry.user.name + " ( " + log_entry.user.email + ")"%></span>
        </td>
        <td>
          <%= log_entry.content %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
