<h3 class="page-title">Create Organization</h3>
<%= form_for @organization, url: organizations_path do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :pagerduty_account, "Pagerduty Account Name" %>
    <%= f.text_field :pagerduty_account %>
  </div>
  <div class="form-group">
    <%= f.label :pagerduty_token, "Pagerduty API Token" %>
    <%= f.text_field :pagerduty_token %>
  </div>
  <%= f.submit "Create Organization", class: "right background-green waves-effect waves-light btn" %>
<% end %>
